doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Pro Visu Look
    link(rel='stylesheet', href!=lunetteStyle, type='text/css')
    link(rel="icon", type="image/png", href="favicon.png")
    link(rel='stylesheet', href!=fontAwesome)
    link(rel='stylesheet', href!=bootstrap)
    script(src!=jquery, type="text/javascript")
    script(src!=bootstrapJs, type="text/javascript")
  body#ext-provisu
    script(src!=sanitizeHtml, type="text/javascript")
    script(src!=lunette, type="text/javascript")
    script(type="text/javascript").
      alter(document, {style:'#{filter}'});
    script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-17123283-1', 'auto');
        ga('send', 'pageview');

    #ext-provisu-top.text-center
      h1= i18n.appName.message
        br
        small.text-muted= i18n.appDescription.message
      .btn-group(role='group', aria-label='...')
        a.btn.btn-default.tooltip-nm(href=external, data-toggle='tooltip', data-placement='bottom', title='Voir la page optimisée pour les personnes ayant des problèmes de vision - Style Noir sur Blanc')
          i.fa.fa-eye.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-nm(href='javascript: alter(document, {style: \'normal\'});', data-toggle='tooltip', data-placement='bottom', title='Voir la page optimisée pour les personnes ayant des problèmes de vision - Style Noir sur Blanc')
          i.fa.fa-low-vision.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-bk(href='javascript: alter(document, {style: \'black\'});', data-toggle='tooltip', data-placement='bottom', title='Voir la page optimisée pour les personnes ayant des problèmes de vision - Style Blanc sur Noir')
          i.fa.fa-low-vision.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-bl(href='javascript: alter(document, {style: \'blue\'});', data-toggle='tooltip', data-placement='bottom', title='Voir la page optimisée pour les personnes ayant des problèmes de vision - Style Jaune sur Bleu')
          i.fa.fa-low-vision.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-cy(href='javascript: alter(document, {style: \'cyan\'});', data-toggle='tooltip', data-placement='bottom', title='Voir la page optimisée pour les personnes ayant des problèmes de vision - Style Noir sur Bleu clair')
          i.fa.fa-low-vision.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-nm(href='javascript: alter(document, {font: \'smaller\'});', data-toggle='tooltip', data-placement='bottom', title='Diminuer la taille du texte')
          i.fa.fa-minus.fa-2x(aria-hidden='true')
        a.btn.btn-default.tooltip-nm(href='javascript: alter(document, {font: \'bigger\'});', data-toggle='tooltip', data-placement='bottom', title='Augmenter la taille du texte')
          i.fa.fa-plus.fa-2x(aria-hidden='true')

    #ext-provisu-inner
      block content
